link(href="https://fonts.googleapis.com/css?family=Charmonman|Engagement|Baloo+Bhai|Ubuntu:700|Niconne&display=swap" rel="stylesheet")

link(href='https://fonts.googleapis.com/css?family=Jolly+Lodger' rel='stylesheet' type='text/css')

link(href="https://fonts.googleapis.com/css?family=Roboto%20Slab" rel="stylesheet")

link(href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet")

link(href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Nabla&display=swap" rel="stylesheet")

//- Cards
link(href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet")
link(href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet")