/*____________________________________________________________

# Container
# @import Buttons Styles
  ## @import slideBtn.scss

____________________________________________________________*/
/*____________________________________________________________
# @import container.scss
____________________________________________________________*/
.container {
    position: relative;
    margin: 0 auto;
    padding-top: 15px;
    width: 720px;
}

.mainTitle {
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    text-align: center;
    margin-bottom: 20px;
}

.presentWrap {
    position: relative;
    margin-bottom: 20px;
    padding-top: 10px;
    width: 100%;
    background: #fff;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    z-index: 1;
}

.presentWrap__title {
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    text-align: center;
    margin-bottom: 10px;
}

.presentWrap__link {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    text-align: center;
    margin-bottom: 10px;
}

.presentWrap__link a {
    font-family: "Roboto", sans-serif;
    color: #d52e3f;
    text-decoration: none;
}

.presentWrap__cardsBlock {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
}

.presentWrap__cardsBlock._column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

/*____________________________________________________________
# @import 'Other' Styles
____________________________________________________________*/
/*____________________________________________________________
## @import imageSizeCard.scss
____________________________________________________________*/
/*____________________________________________________________
# Image Size Variables
____________________________________________________________*/
/*____________________________________________________________
# Color Variables
____________________________________________________________*/
/*____________________________________________________________
# Image Size Card Style
____________________________________________________________*/
.imageSizeCard {
    position: relative;
    margin: 20px;
    width: 200px;
    height: 320px;
    background-color: #e3e1e3;
    cursor: pointer;
}

.imageSizeCard._dark {
    background-color: #363437;
}

.imageSizeCard._dark .imageSizeInner__img {
    background-image: url("../img/cards/imageSize/lightTriangle.jpg");
}

.imageSizeCard._dark .imageSizeInner__title,
.imageSizeCard._dark .imageSizeInner__footer {
    color: #e3e1e3;
}

.imageSizeCard._dark .imageSizeInner__line {
    background-color: #e3e1e3;
}

.imageSizeCard:hover .imageSizeInner__img {
    background-size: 130%;
}

.imageSizeInner {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 180px;
    height: 300px;
}

.imageSizeInner__img {
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
    background-image: url("../img/cards/imageSize/darkTriangle.jpg");
    background-position: center;
    background-size: 100%;
    -webkit-transition: background-size 0.3s;
    transition: background-size 0.3s;
}

.imageSizeInner__info {
    padding-top: 15px;
    position: relative;
    width: 100%;
    height: calc(300px - 180px);
}

.imageSizeInner__title {
    font-family: "Roboto", sans-serif;
    font-size: 28.0373831776px;
    color: #363437;
}

.imageSizeInner__line {
    margin: 15px 0;
    width: 100%;
    height: 1.5px;
    background-color: #363437;
}

.imageSizeInner__footer {
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-size: calc(28.0373831776px / 2);
    color: #363437;
}

.imageSizeInner__name {
    display: inline;
    float: left;
}

.imageSizeInner__number {
    display: inline;
    float: right;
}

/*____________________________________________________________
## @import ovalRaysCard.scss
____________________________________________________________*/
/*____________________________________________________________
# Slide Button Variables
____________________________________________________________*/
/*____________________________________________________________
# Color Variables
____________________________________________________________*/
/*____________________________________________________________
# Rays Variables
____________________________________________________________*/
/*____________________________________________________________
# Image Size Card Style
____________________________________________________________*/
.ovalRaysCard {
    position: relative;
    margin: 20px;
    width: 200px;
    height: 320px;
    background-color: #ba5f4e;
    cursor: pointer;
}

.ovalRaysCard:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: calc(200px - 10px);
    height: calc(320px - 10px);
    border: 2.5px dotted #ead9b0;
}

.ovalRaysInner {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 180px;
    height: 300px;
    border-radius: 10px;
    background-color: #ead9b0;
    overflow: hidden;
}

.raysWrap {
    position: absolute;
    left: -1em;
    right: -1em;
    top: -1em;
    bottom: -1em;
    margin: auto;
    padding: 0;
    width: 0;
    height: 0;
    -webkit-animation: raysRotate 8s infinite linear;
    animation: raysRotate 8s infinite linear;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}

.raysWrap__ray,
.raysWrap__ray:before,
.raysWrap__ray:after {
    position: absolute;
    border: 0 solid transparent;
    border-width: 1.5em 11.25em;
    width: 0;
    height: 0;
}

.raysWrap__ray {
    left: -11.25em;
    top: calc(50% - 1.5em);
}

.raysWrap__ray:nth-child(1) {
    -webkit-transform: rotate(calc(15deg * (1 - 1)));
    -ms-transform: rotate(calc(15deg * (1 - 1)));
    transform: rotate(calc(15deg * (1 - 1)));
    border-color: transparent #ba5f4e;
}

.raysWrap__ray:nth-child(1):before, .raysWrap__ray:nth-child(1):after {
    border-color: transparent #ba5f4e;
}

.raysWrap__ray:nth-child(2) {
    -webkit-transform: rotate(calc(15deg * (2 - 1)));
    -ms-transform: rotate(calc(15deg * (2 - 1)));
    transform: rotate(calc(15deg * (2 - 1)));
    border-color: transparent #ead9b0;
}

.raysWrap__ray:nth-child(2):before, .raysWrap__ray:nth-child(2):after {
    border-color: transparent #ead9b0;
}

.raysWrap__ray:nth-child(3) {
    -webkit-transform: rotate(calc(15deg * (3 - 1)));
    -ms-transform: rotate(calc(15deg * (3 - 1)));
    transform: rotate(calc(15deg * (3 - 1)));
    border-color: transparent #d9ae65;
}

.raysWrap__ray:nth-child(3):before, .raysWrap__ray:nth-child(3):after {
    border-color: transparent #d9ae65;
}

.raysWrap__ray:nth-child(4) {
    -webkit-transform: rotate(calc(15deg * (4 - 1)));
    -ms-transform: rotate(calc(15deg * (4 - 1)));
    transform: rotate(calc(15deg * (4 - 1)));
    border-color: transparent #81885f;
}

.raysWrap__ray:nth-child(4):before, .raysWrap__ray:nth-child(4):after {
    border-color: transparent #81885f;
}

.raysWrap__ray:before,
.raysWrap__ray:after {
    content: "";
    left: -11.25em;
    top: -1.5em;
}

.raysWrap__ray:before {
    -webkit-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg);
}

.raysWrap__ray:after {
    -webkit-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    transform: rotate(-60deg);
}