/*____________________________________________________________

# Container
# @import Buttons Styles
  ## @import slideBtn.scss

____________________________________________________________*/
/*____________________________________________________________
# @import container.scss
____________________________________________________________*/
.container {
    position: relative;
    margin: 0 auto;
    padding-top: 15px;
    width: 720px;
}

.mainTitle {
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    text-align: center;
    margin-bottom: 20px;
}

.presentWrap {
    position: relative;
    margin-bottom: 20px;
    padding-top: 10px;
    width: 100%;
    background: #fff;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    z-index: 1;
}

.presentWrap__title {
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    text-align: center;
    margin-bottom: 10px;
}

.presentWrap__link {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    text-align: center;
    margin-bottom: 10px;
}

.presentWrap__link a {
    font-family: "Roboto", sans-serif;
    color: #d52e3f;
    text-decoration: none;
}

.presentWrap__cardsBlock {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
}

.presentWrap__cardsBlock._column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

/*____________________________________________________________
# @import 'Other' Styles
____________________________________________________________*/
/*____________________________________________________________
## @import imageSizeCard.scss
____________________________________________________________*/
/*____________________________________________________________
# Slide Button Variables
____________________________________________________________*/
/*____________________________________________________________
# Color Variables
____________________________________________________________*/
/*____________________________________________________________
# Slide Button
____________________________________________________________*/
.imageSizeCard {
    position: relative;
    margin: 20px;
    width: 200px;
    height: 320px;
    background-color: #e3e1e3;
    cursor: pointer;
}

.imageSizeCard._dark {
    background-color: #363437;
}

.imageSizeCard._dark .imageSizeInner__img {
    background-image: url("../img/cards/imageSize/lightTriangle.jpg");
}

.imageSizeCard._dark .imageSizeInner__title,
.imageSizeCard._dark .imageSizeInner__footer {
    color: #e3e1e3;
}

.imageSizeCard._dark .imageSizeInner__line {
    background-color: #e3e1e3;
}

.imageSizeCard:hover .imageSizeInner__img {
    background-size: 130%;
}

.imageSizeInner {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 180px;
    height: 300px;
}

.imageSizeInner__img {
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
    background-image: url("../img/cards/imageSize/darkTriangle.jpg");
    background-position: center;
    background-size: 100%;
    -webkit-transition: background-size 0.3s;
    transition: background-size 0.3s;
}

.imageSizeInner__info {
    padding-top: 15px;
    position: relative;
    width: 100%;
    height: calc(300px - 180px);
}

.imageSizeInner__title {
    font-family: "Roboto", sans-serif;
    font-size: 28.0373831776px;
    color: #363437;
}

.imageSizeInner__line {
    margin: 15px 0;
    width: 100%;
    height: 1.5px;
    background-color: #363437;
}

.imageSizeInner__footer {
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-size: calc(28.0373831776px / 2);
    color: #363437;
}

.imageSizeInner__name {
    display: inline;
    float: left;
}

.imageSizeInner__number {
    display: inline;
    float: right;
}