section.presentWrap
  h1.presentWrap__title Oval Rays Cards
  p.presentWrap__link Design by: 
    a(href="https://ru.pinterest.com/pin/659284832970710639/") Pinterest
  .presentWrap__cardsBlock

    .ovalRaysCard
      .ovalRaysInner
        .raysWrap
          - var rayItemNumber = 1;
          while rayItemNumber <= 4
            .raysWrap__ray(id=`_${rayItemNumber++}`)
        .raysOvalWrap
        .raysOvalBtmEl
        span.raysOvalTitle Go retro or go home.
        span.raysOvalEnd Rockin' retro every day.
        span.raysOvalUp Fame and Fortune
        span.raysOvalMain
          span.raysOvalMain__number 7
          span.raysOvalMain__number 8
          span.raysOvalMain__number 5
    
    .ovalRaysCard._ovalHide
      .ovalRaysInner
        .raysWrap
          - var rayItemNumber = 1;
          while rayItemNumber <= 4
            .raysWrap__ray(id=`_${rayItemNumber++}`)
        .raysOvalWrap
        .raysOvalBtmEl
        span.raysOvalTitle Go retro or go home.
        span.raysOvalEnd Rockin' retro every day.
        span.raysOvalUp Fame and Fortune
        span.raysOvalMain
          span.raysOvalMain__number 7
          span.raysOvalMain__number 8
          span.raysOvalMain__number 5