section.presentWrap
  h1.presentWrap__title Slide Cards
  .presentWrap__cardsBlock

    .slideCard._lr
      .slideProfileWrap
      .slideContainer
        .slideContainer__child
        .slideContainer__child
        .slideContainer__child
      .slideInfoWrap