section.presentWrap
  h1.presentWrap__title Test Cards
  .presentWrap__cardsBlock

    .testCard
      .inner
        .inner__img
        .inner__info
          h1.inner__title pathetic <br> experience.
          .inner__line
          .inner__bot 
            p.inner__name Rikala Semana
            p.inner__number 02
    .testCard._dark
      .inner
        .inner__img
        .inner__info
          h1.inner__title pathetic <br> experience.
          .inner__line
          .inner__bot 
            p.inner__name Rikala Semana
            p.inner__number 02