section.presentWrap
  h1.presentWrap__title Image Size
  p.presentWrap__link Design by: 
    a(href="https://weandthecolor.com/pathetic-experience-minimalist-album-posters-dhimas-zoso/87396") Dhimas Zoso
  p.presentWrap__link Font by: 
    a(href="https://fonts.google.com/?query=Christian+Robertson") Christian Robertson
  p.presentWrap__link Google font-family: 
      a(href="https://fonts.google.com/specimen/Roboto?preview.text=pathetic%20experience.&preview.text_type=custom") 'Roboto'
  .presentWrap__cardsBlock

    .testCard
      .inner
        .inner__img
        .inner__info
          h1.inner__title pathetic <br> experience.
          .inner__line
          .inner__bot 
            p.inner__name Rikala Semana
            p.inner__number 02
    .testCard._dark
      .inner
        .inner__img
        .inner__info
          h1.inner__title pathetic <br> experience.
          .inner__line
          .inner__bot 
            span.inner__name Anylr
            span.inner__number 03