/*____________________________________________________________
# Image Size Variables
____________________________________________________________*/
$imageSizeWidth: 200px;
$imageSizeHeight: $imageSizeWidth * 1.6;

$imageSizePadding: calc($imageSizeWidth / 10);

$imageSize__innerWidth: $imageSizeWidth - $imageSizePadding;
$imageSize__innerHeight: $imageSizeHeight - $imageSizePadding;

$imageSize__lineHeight: calc($imageSize__innerHeight / 200);

$imageSize__infoMargin: calc($imageSize__innerHeight / 20);

$imageSizeFont: calc($imageSize__innerHeight / 10.7);

$imageSizeTime: .3s;

/*____________________________________________________________
# Color Variables
____________________________________________________________*/
$x-color-light: #e3e1e3;
$x-color-black: #363437;

/*____________________________________________________________
# Image Size Card Style
____________________________________________________________*/
.imageSizeCard {
  position: relative;
  margin: 20px;
  width: $imageSizeWidth;
  height: $imageSizeHeight;
  background-color: $x-color-light;
  cursor: pointer;

  &._dark {
    background-color: $x-color-black;

    .imageSizeInner__img {
      background-image: url('../img/cards/imageSize/lightTriangle.jpg')
    }
    .imageSizeInner__title,
    .imageSizeInner__footer {
      color: $x-color-light;
    }
    .imageSizeInner__line {
      background-color: $x-color-light;
    }
  }

  &:hover {
    .imageSizeInner__img {
      background-size: 130%;
    }
  }
}
.imageSizeInner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: $imageSize__innerWidth;
  height: $imageSize__innerHeight;
}
.imageSizeInner__img {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  background-image: url('../img/cards/imageSize/darkTriangle.jpg');
  background-position: center;
  background-size: 100%;
  transition: background-size $imageSizeTime;
}
.imageSizeInner__info {
  padding-top: $imageSize__infoMargin;
  position: relative;
  width: 100%;
  height: calc(#{$imageSize__innerHeight} - #{$imageSize__innerWidth});
}
.imageSizeInner__title {
  font-family: 'Roboto', sans-serif;
  font-size: $imageSizeFont;
  color: $x-color-black;
}
.imageSizeInner__line {
  margin: $imageSize__infoMargin 0;
  width: 100%;
  height: $imageSize__lineHeight;
  background-color: $x-color-black;
}
.imageSizeInner__footer {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: calc(#{$imageSizeFont} / 2);
  color: $x-color-black;
}
.imageSizeInner__name {
  display: inline;
  float: left;
}
.imageSizeInner__number {
  display: inline;
  float: right;
}