/*____________________________________________________________
# Slide Button Variables
____________________________________________________________*/
$testCardWidth: 200px;
$testCardHeight: $testCardWidth * 1.6;

$testCardPadding: calc($testCardWidth / 10);

$testCard__innerWidth: $testCardWidth - $testCardPadding;
$testCard__innerHeight: $testCardHeight - $testCardPadding;

$testCard__lineHeight: calc($testCard__innerHeight / 200);

$testCard__infoMargin: calc($testCard__innerHeight / 20);

$testCardFont: calc($testCard__innerHeight / 10.7);

/*____________________________________________________________
# Slide Button
____________________________________________________________*/
.testCard {
  position: relative;
  margin: 20px;
  width: $testCardWidth;
  height: $testCardHeight;
  background-color: #e3e1e3;
  cursor: pointer;

  &._dark {
    background-color: #323033;

    .inner__img {
      background-color: #e6e4e6;
    }
    .inner__title,
    .inner__bot {
      color: #e6e4e6;
    }
    .inner__line {
      background-color: #e6e4e6;
    }
  }
}
.inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: $testCard__innerWidth;
  height: $testCard__innerHeight;
  // background: gray;
}
.inner__img {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  // height: 100%;
  background: #9c9ca3;
}
.inner__info {
  padding-top: $testCard__infoMargin;
  position: relative;
  width: 100%;
  height: calc(#{$testCard__innerHeight} - #{$testCard__innerWidth});
  // background: #fff;
}
.inner__title {
  // padding-bottom: 15px;
  font-family: 'Roboto', sans-serif;
  font-size: $testCardFont;
  color: #363437;
}
.inner__line {
  margin: $testCard__infoMargin 0;
  width: 100%;
  height: $testCard__lineHeight;
  background-color: #363437;
}
.inner__bot {
  width: 100%;
  // padding-top: 15px;
  font-family: 'Roboto', sans-serif;
  font-size: calc(#{$testCardFont} / 2);
  color: #363437;
}
.inner__name {
  display: inline;
  float: left;
}
.inner__number {
  display: inline;
  float: right;
}