html
  head
    include assets/template/head.pug
    include assets/template/fonts.pug
    link(rel="stylesheet", href="assets/css/style.css")
    base(target="_blank")
  body
    //- Container
    .container
      h1.mainTitle Template

      //-- Test Card
      include assets/template/partials/cards/testCard.pug