html
  head
    include assets/template/head.pug
    include assets/template/fonts.pug
    link(rel="stylesheet", href="assets/css/style.css")
    base(target="_blank")
  body
    //- Container
    .container
      h1.mainTitle Hover Cards Pack

      //-- Image Size Cards
      include assets/template/partials/cards/imageSizeCard.pug

      //-- Oval Rays Cards
      include assets/template/partials/cards/ovalRaysCard.pug

      //-- Slide Cards
      include assets/template/partials/cards/slideCard.pug